span {
    text-align: center;
}

.label {
    position: relative;
    cursor: pointer;

    // border: 2px solid green;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

// .label .button {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//     border: 2px solid blue;
//     border-radius: 50%;
//     background-color: white;
// }

// .label .button:checked {
//     background-color: white;
// }

.label input[type="checkbox"] {
    -webkit-appearance: none;
}

.label input[type="checkbox"]:checked ~ .one {
    background-color: rgb(240, 240, 41);
}

.label input[type="checkbox"]:checked ~ .two {
    background-color: rgb(75, 141, 163);
}

.label input[type="checkbox"]:checked ~ .three {
    background-color: rgb(155, 155, 155);
}

.label input[type="checkbox"]:checked ~ .four {
    background-color: rgb(209, 106, 228);
}

.label input[type="checkbox"]:checked ~ .five {
    background-color: rgb(120, 120, 255);
}

.label input[type="checkbox"]:checked ~ .six {
    background-color: rgb(255, 77, 77);
}

.politic {
    
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    overflow: hidden;
    background-color: white;
}
